{% extends "algorithms/base.html" %}
{% load static %}


{% block title %}
<title>AlgoBook | Algorithms</title>
{% endblock title %}


{% block body %}

{% for elem in algoname %}
  <main>
    <section class="algo container">
      <h1 class="section-heading">Algorithms</h1>
      <div class="algorithms">
        {% for name in elem %}
          <article class="card">
            <img src="{% static 'algorithms/images/folder.png' %}" class="card-img-top" alt="..." style="width: 80px;">
            <div class="card-body">
              <h2 class="algorithm__name">{{name}}</h2>
              <a href="/langs/{{name}}" class="btn btn-success">View</a>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>
  </main>
  
{% endfor %}

{% endblock body %}
