{% extends "algorithms/base.html" %}

{% block title %}
  <title>AlgoBook | {{algoname}}</title>
{% endblock title %}

{% block body %}
<main>
  <section>
  <div class="container">
    <h1 class="section-heading">{{algoname}}</h1>
    {% if cpp_code %}   
    <h2>C++ Code</h2>
    <pre style="margin:40px ;">
      <code class="cpp">
      {{cpp_code}}
      </code>
    </pre>
    {% endif %}

    {% if python_code %}
    <h2>Python Code</h2>
      <pre style="margin:40px ;font-size:15px">
        <code class="python">
    {{python_code}}
    </code>
    </pre>
    {% endif %}

    {% if readme_code %}    
    <h2>How it works?</h2>
    <div class="readme container">
      {% load markdownify%}
        {{readme_code|markdownify}}
    </div>
    {% endif %}
  </div>
  </section>
</main>
  


    {% comment %}
      
   
    {% if output %}
<h3 style="padding-left:100px">Try Yourself</h1>
  <pre style="margin:40px ;font-size:15px">
    <code class="python">
{{output}}
</code>
<a href="/curralgo/{{algoname}}/cpp?run=true"><button type="button" class="btn btn-primary btn-sm disabled" >Successfully Executed!</button></a>
    </pre>
    {% else %}
    <h3 style="padding-left:100px">Try Yourself</h1>
      <pre style="margin:40px ;font-size:15px">
        <code class="python">
    Output will come here
    </code>
    <a href="/curralgo/{{algoname}}/cpp?run=true"><button type="button" class="btn btn-primary btn-sm" >Click to Run</button></a>
        </pre>
{% endif %}

{% endcomment %}



    



    {% comment %}
      

{% if output %}
<h3 style="padding-left:100px">Try Yourself</h1>
  <pre style="margin:40px ;font-size:15px">
    <code class="python">
{{output}}
</code>
<a href="/curralgo/{{algoname}}/py?run=true"><button type="button" class="btn btn-primary btn-sm disabled" >Successfully Executed!</button></a>
    </pre>
    {% else %}
    <h3 style="padding-left:100px">Try Yourself</h1>
      <pre style="margin:40px ;font-size:15px">
        <code class="python">
    Output will come here
    </code>
    <a href="/curralgo/{{algoname}}/py?run=true"><button type="button" class="btn btn-primary btn-sm" >Click to Run</button></a>
        </pre>
{% endif %}


{% endcomment %}
  


  
{% endblock body %}