{% extends "algorithms/base.html" %}


{% block title %}
  <title>Wecome to AlgoBook</title>
{% endblock title %}

{% block body %}
<div class="container-sm" style="background-color:blueviolet;margin: 50px;">
  <p class="fontlarge">Welcome to Algo Book</p>
  <p class="fontsmall">Master Data Structures and Algorithms from the codes written by experts in various languages like C/C++ , Python, etc.</p>
  

</div>

<table class="table table-dark table-striped" style="table-layout:fixed; border: 40px solid white;border-collapse: collapse;">
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Name of the Algorithm</th>
      <th scope="col">CPP Code Available?</th>
      <th scope="col">Python Code Available?</th>
      <th scope="col">Explaination Provided?</th>
    </tr>
    </tr>
  </thead>
  <tbody>
    {% for elem in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{elem.AlgoName}}</td>
      <td>{{elem.cpp_code}}</td>
      <td>{{elem.py_code}}</td>
      <td>{{elem.readme}}</td>

    </tr>
    {% endfor %}
   
  </tbody>
</table>  
{% endblock body %}