{% extends "algorithms/base.html" %}
{% load static %}

{% block title %}
  <title>{{algoname|title}} Available Languages</title>
{% endblock title %}



{% block body %}

  <main>
    <section class="curr-algo container">
      <h1 class="section-heading">{{algoname}}</h1>
      <div class="algorithms">
        <article class="card">
          <img src="{% static 'algorithms/images/cpp.png' %}" class="card-img-top" style="width: 80px;">
          <div class="card-body">
            <h2 class="algorithm__name">C++ Code</h2>
            {% if cpp_code %}
              <a href="/curralgo/{{algoname}}/cpp" class="btn btn-success">View</a>
            {% else %}
              <button href="#" class="btn btn-success">Not Available</button>
            {% endif %}
          </div>
        </article>
        <article class="card">
          <img src="{% static 'algorithms/images/python.png' %}" class="card-img-top" style="width: 80px;">
          <div class="card-body">
            <h2 class="algorithm__name">Python Code</h2>
            {% if cpp_code %}
              <a href="/curralgo/{{algoname}}/py" class="btn btn-success">View</a>
            {% else %}
              <button href="#" class="btn btn-success">Not Available</button>
            {% endif %}
          </div>
        </article>
        <article class="card">
          <img src="{% static 'algorithms/images/README.png' %}" class="card-img-top" style="width: 80px;">
          <div class="card-body">
            <h2 class="algorithm__name">How this works?</h2>
            {% if cpp_code %}
              <a href="/curralgo/{{algoname}}/readme" class="btn btn-success">View</a>
            {% else %}
              <button href="#" class="btn btn-success">Not Available</button>
            {% endif %}
          </div>
        </article>
      </div>
    </section>
  </main>


{% endblock body %}